{
  "openapi": "3.0.2",
  "info": {
    "title": "Spacebring",
    "version": "1.0.0",
    "termsOfService": "https://www.spacebring.com/terms"
  },
  "servers": [
    {
      "url": "https://api.spacebring.com"
    }
  ],
  "paths": {
    "/benefits/applications/v1": {
      "get": {
        "tags": [
          "Benefit applications"
        ],
        "summary": "Retrieve benefit applications",
        "description": "Retrieve all benefit applications in the location or for certain benefit. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefitApplications",
        "parameters": [
          {
            "in": "query",
            "name": "locationRef",
            "description": "The id of the location",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "benefitRef",
            "description": "The id of the benefit",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "The number of items to return"
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "schema": {
              "type": "string"
            },
            "description": "nextPageToken retrieved from a previous request",
            "required": false
          },
          {
            "in": "query",
            "name": "categoryRef",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "description": "The ids of the categories to filter by",
            "required": false
          },
          {
            "name": "userRef",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/benefitApplication"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Benefit applications"
        ],
        "summary": "Apply for a benefit",
        "description": "Apply for a benefit. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "applyBenefit",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/applyBenefit"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "$ref": "#/components/schemas/benefitApplication"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/applications/v1/{id}": {
      "get": {
        "tags": [
          "Benefit applications"
        ],
        "summary": "Retrieve a benefit application",
        "description": "Retrieve a benefit application by id. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefitApplication",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the benefit application",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "application": {
                      "type": "object",
                      "$ref": "#/components/schemas/benefitApplication"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/categories/v1": {
      "get": {
        "tags": [
          "Benefit categories"
        ],
        "summary": "Retrieve benefit categories",
        "description": "Retrieve all benefit categories in the location. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefitCategories",
        "parameters": [
          {
            "in": "query",
            "name": "locationRef",
            "description": "The id of the location",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/benefitCategory"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Benefit categories"
        ],
        "summary": "Create a benefit category",
        "description": "Create a benefit category. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "createBenefitCategory",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createBenefitCategory"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "$ref": "#/components/schemas/benefitCategory"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/categories/v1/{id}": {
      "get": {
        "tags": [
          "Benefit categories"
        ],
        "summary": "Get a benefit category",
        "description": "Get a benefit category. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "getBenefitCategory",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the benefit category",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits",
              "benefits.readonly"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "$ref": "#/components/schemas/benefitCategory"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Benefit categories"
        ],
        "summary": "Delete a benefit category",
        "description": "Delete a benefit category. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "deleteBenefitCategory",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the benefit category",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Benefit categories"
        ],
        "summary": "Update a benefit category",
        "description": "Update a benefit category. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "updateBenefitCategory",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the benefit category",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateBenefitCategory"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "$ref": "#/components/schemas/benefitCategory"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/v1": {
      "get": {
        "tags": [
          "Benefits"
        ],
        "summary": "Retrieve benefits",
        "description": "Retrieve all benefits in the location. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefits",
        "parameters": [
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "benefits": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/benefit"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Benefits"
        ],
        "summary": "Create a benefit",
        "description": "Create a benefit. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "createBenefit",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.create"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createBenefit"
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benefit"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/benefits/v1/{id}": {
      "get": {
        "tags": [
          "Benefits"
        ],
        "summary": "Retrieve a benefit",
        "description": "Retrieve a benefit. <h3>OAuth</h3>Required scopes: <code>benefits.readonly</code> or <code>benefits</code>",
        "operationId": "getBenefit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the benefit",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits.readonly",
              "benefits"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "benefit": {
                      "$ref": "#/components/schemas/benefit"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Benefits"
        ],
        "summary": "Delete a benefit",
        "description": "Delete a benefit. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "deleteBenefit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the benefit",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Benefits"
        ],
        "summary": "Update a benefit",
        "description": "Update a benefit. <h3>OAuth</h3>Required scopes: <code>benefits</code>",
        "operationId": "updateBenefit",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the benefit",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "benefits"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateBenefit"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "benefit": {
                      "$ref": "#/components/schemas/benefit"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/credit_notes/v1": {
      "get": {
        "tags": [
          "Credit notes"
        ],
        "summary": "Retrieve credit notes",
        "description": "Retrieve all credit notes for a specific invoice or location. One of invoiceRef or locationRef is required. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getCreditNotes",
        "parameters": [
          {
            "name": "invoiceRef",
            "in": "query",
            "description": "The id of the invoice. One of invoiceRef or locationRef is required.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false
          },
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location. One of invoiceRef or locationRef is required.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return (max 100, default 25)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "required": false
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "description": "Token for pagination to get the next page of results",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditNotes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/creditNote"
                      }
                    },
                    "nextPageToken": {
                      "type": "string",
                      "description": "Token to retrieve the next page of results"
                    },
                    "searchQueryNext": {
                      "type": "string",
                      "description": "Full query string for the next page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - User lacks permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Invoice or location not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/credit_notes/v1/{id}": {
      "get": {
        "tags": [
          "Credit notes"
        ],
        "summary": "Retrieve a credit note",
        "description": "Retrieve a specific credit note. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getCreditNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the credit note",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creditNote": {
                      "$ref": "#/components/schemas/creditNote"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/v1": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Create contract",
        "description": "Create a contract. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "createContract",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createContract"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract": {
                      "$ref": "#/components/schemas/contract"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/v1/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract",
        "description": "Get a contract. <h3>OAuth</h3>Required scopes: <code>community.readonly</code> or <code>community</code>",
        "operationId": "getContract",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the contract."
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community",
              "community.readonly"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract": {
                      "type": "object",
                      "$ref": "#/components/schemas/contract"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contracts"
        ],
        "summary": "Delete contract",
        "description": "Delete a contract. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "deleteContract",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the contract."
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/contracts/v1/{id}/issue": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Issue contract",
        "description": "Issue a contract. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "issueContract",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the contract."
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/issueContract"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract": {
                      "$ref": "#/components/schemas/contract"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/resources/bookings/v1": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Retrieve bookings",
        "description": "Retrieve all bookings of resources. <h3>OAuth</h3>Required scopes: <code>resources.readonly</code> or <code>resources</code>",
        "operationId": "getBookings",
        "parameters": [
          {
            "in": "query",
            "name": "resourceRef",
            "description": "The id of the resource. Required if `locationRef` is not passed.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "locationRef",
            "description": "The id of the location. Required if `resourceRef` is not passed.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "membershipRefOwner",
            "description": "The id of the membership owner.",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "description": "The date filter of items.",
            "schema": {
              "type": "object",
              "properties": {
                "lte": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get bookings with less or equal end date. Example: endDate[lte]=2021-05-21T10:00:00Z"
                },
                "gte": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get bookings with greater or equal end date. Example: endDate[gte]=2021-05-21T10:00:00Z"
                },
                "lt": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get bookings with less end date. Example: endDate[lt]=2021-05-21T10:00:00Z"
                },
                "gt": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get bookings with greater end date. Example: endDate[gt]=2021-05-21T10:00:00Z"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "description": "The date filter of items.",
            "schema": {
              "type": "object",
              "properties": {
                "lte": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get bookings with less or equal start date. Example: startDate[lte]=2021-05-21T10:00:00Z"
                },
                "gte": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get bookings with greater or equal start date. Example: startDate[gte]=2021-05-21T10:00:00Z"
                },
                "lt": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get bookings with less start date. Example: startDate[lt]=2021-05-21T10:00:00Z"
                },
                "gt": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get bookings with greater start date. Example: startDate[gt]=2021-05-21T10:00:00Z"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "The number of items to return"
          },
          {
            "in": "query",
            "name": "order",
            "description": "The order of filtered items. Format - `field:order`. Possible field values are `createDate`, `endDate`, `startDate`, `id`. Order values - `asc`, `desc`.",
            "schema": {
              "type": "string",
              "default": "endDate:asc"
            }
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "schema": {
              "type": "string"
            },
            "description": "nextPageToken retrieved from a previous request"
          },
          {
            "in": "query",
            "name": "types",
            "description": "The types of resources to retrieve bookings for. Pass them as comma separated values.",
            "schema": {
              "type": "string",
              "enum": [
                "hotDesk",
                "dedicatedDesk",
                "office",
                "parkingLot",
                "room"
              ]
            }
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "resources.readonly",
              "resources"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/booking"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Create booking",
        "description": "Create a booking. <h3>OAuth</h3>Required scopes: <code>resources</code>",
        "operationId": "createBooking",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createBooking"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "resources"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "booking": {
                      "$ref": "#/components/schemas/booking"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/resources/bookings/v1/{id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get booking",
        "description": "Get a booking. <h3>OAuth</h3>Required scopes: <code>resources.readonly</code> or <code>resources</code>",
        "operationId": "getBooking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the booking.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "resources.readonly",
              "resources"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "booking": {
                      "$ref": "#/components/schemas/booking"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Bookings"
        ],
        "summary": "Delete booking",
        "description": "Delete a booking. <h3>OAuth</h3>Required scopes: <code>resources</code>",
        "operationId": "deleteBooking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the booking.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "resources"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/community/companies/v1": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Retrieve companies",
        "description": "Retrieve all companies. <h3>OAuth</h3>Required scopes: <code>community.readonly</code> or <code>community</code>",
        "operationId": "getCompanies",
        "parameters": [
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "The number of items to return"
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "schema": {
              "type": "string"
            },
            "description": "nextPageToken retrieved from a previous request"
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by company's title"
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "nonmember"
              ]
            },
            "description": "Filter by types. Pass them as comma separated values."
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community.readonly",
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "companies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/company"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create a company",
        "description": "Create a company. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "createCompany",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createCompany"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "$ref": "#/components/schemas/company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/community/companies/v1/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Retrieve a company",
        "description": "Retrieve a certain company. <h3>OAuth</h3>Required scopes: <code>community.readonly</code> or <code>community</code>",
        "operationId": "getCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of company.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community.readonly",
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "$ref": "#/components/schemas/company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "summary": "Update a company",
        "description": "Update a certain company. <h3>OAuth</h3>Required scopes: <code>community</code>",
        "operationId": "updateCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the company.",
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company": {
                    "type": "object",
                    "properties": {
                      "billingAddress": {
                        "type": "string"
                      },
                      "businessAddress": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string"
                          },
                          "countryCode": {
                            "type": "string"
                          },
                          "line1": {
                            "type": "string"
                          },
                          "line2": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          }
                        }
                      },
                      "legalName": {
                        "type": "string"
                      },
                      "metadata": {
                        "$ref": "#/components/schemas/metadata"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "taxId": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "company"
                ]
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "community"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "$ref": "#/components/schemas/company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/events/v1": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create an event",
        "description": "Create an event. <h3>OAuth</h3>Required scopes: <code>events</code>",
        "operationId": "createEvent",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createEvent"
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "events"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve events",
        "description": "Retrieve events. <h3>OAuth</h3>Required scopes: <code>events</code>",
        "operationId": "getEventsByOrganization",
        "parameters": [
          {
            "in": "query",
            "name": "locationRef",
            "required": true,
            "description": "The id of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "The number of events to retrieve. Default: 25",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "The order of the events. createDate:asc, createDate:desc, startDate:asc, startDate:desc, endDate:asc, endDate:desc or relevance",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "events",
              "events.readonly"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/event"
                      }
                    },
                    "searchQueryNext": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer"
                        },
                        "locationRef": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "nextPageToken": {
                          "type": "string"
                        },
                        "order": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/events/v1/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve an event",
        "description": "Retrieve an event. <h3>OAuth</h3>Required scopes: <code>events</code>",
        "operationId": "getEvent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "events",
              "events.readonly"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/events/v1/{id}/cancel": {
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Cancel an event",
        "description": "Cancel an event. <h3>OAuth</h3>Required scopes: <code>events</code>",
        "operationId": "cancelEvent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "events"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/events/v1/{id}/copy": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Copy an event",
        "description": "Copy an event. <h3>OAuth</h3>Required scopes: <code>events</code>",
        "operationId": "copyEvent",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "events"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/events/tickets/v1": {
      "get": {
        "tags": [
          "Event tickets"
        ],
        "summary": "Retrieve event tickets",
        "description": "Retrieve all event tickets. <h3>OAuth</h3>Required scopes: <code>events.readonly</code> or <code>events</code>",
        "operationId": "getEventTickets",
        "parameters": [
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "The number of items to return"
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "schema": {
              "type": "string"
            },
            "description": "nextPageToken retrieved from a previous request"
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "events.readonly",
              "events"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tickets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/eventTicket"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/events/tickets/v1/{id}": {
      "get": {
        "tags": [
          "Event tickets"
        ],
        "summary": "Retrieve an event ticket",
        "description": "Retrieve an event ticket. <h3>OAuth</h3>Required scopes: <code>events.readonly</code> or <code>events</code>",
        "operationId": "getEventTicket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the event ticket.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "events.readonly",
              "events"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ticket": {
                      "$ref": "#/components/schemas/eventTicket"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/feed/comments/v1": {
      "post": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Create a feed post comment",
        "description": "Create a feed post comment. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "createFeedPostComment",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createFeedPostComment"
        },
        "security": [
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment": {
                      "$ref": "#/components/schemas/postComment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/feed/comments/v1/{id}": {
      "delete": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Delete a post comment",
        "description": "Delete a post comment. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "deletePostComment",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the post comment.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/feed/comments/v1/{id}/likes": {
      "post": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Create a like for a post comment",
        "description": "Create a like for a post comment. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "createLikeForPostComment",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the post comment.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "like": {
                      "$ref": "#/components/schemas/postLike"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Delete a like for a post comment",
        "description": "Delete a like for a post comment. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "deleteLikeForPostComment",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the post comment.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "security": [
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/feed/posts/v1": {
      "get": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Get feed posts",
        "description": "Get feed posts. <h3>OAuth</h3>Required scopes: <code>feed.readonly</code> or <code>feed</code>",
        "operationId": "getFeedPosts",
        "parameters": [
          {
            "in": "query",
            "name": "locationRef",
            "description": "The id of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "feed.readonly",
              "feed"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/post"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Create a feed post",
        "description": "Create a feed post. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "createFeedPost",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createFeedPost"
        },
        "security": [
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/post"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/feed/posts/v1/{id}": {
      "get": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Get a feed post",
        "description": "Get a feed post. <h3>OAuth</h3>Required scopes: <code>feed</code> or <code>feed.readonly</code>",
        "operationId": "getFeedPost",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the post."
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "feed",
              "feed.readonly"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/post"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Delete a feed post",
        "description": "Delete a feed post. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "deleteFeedPost",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the post."
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Update a feed post",
        "description": "Update a feed post. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "updateFeedPost",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the post."
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateFeedPost"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "$ref": "#/components/schemas/post"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/feed/posts/v1/{id}/likes": {
      "get": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Get likes for a post",
        "description": "Get likes for a post. <h3>OAuth</h3>Required scopes: <code>feed</code> or <code>feed.readonly</code>",
        "operationId": "getLikesForPost",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the post."
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "feed",
              "feed.readonly"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "likes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/postLike"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Create a like for a post",
        "description": "Create a like for a post. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "createLikeForPost",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the post."
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "like": {
                      "$ref": "#/components/schemas/postLike"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Delete a like for a post",
        "description": "Delete a like for a post. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "deleteLikeForPost",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the post."
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "feed"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/feed/posts/v1/{id}/comments": {
      "get": {
        "tags": [
          "Feed posts"
        ],
        "summary": "Get comments for a post",
        "description": "Get comments for a post. <h3>OAuth</h3>Required scopes: <code>feed</code>",
        "operationId": "getPostComments",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The id of the post."
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "feed",
              "feed.readonly"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/postComment"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/v1": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve invoices",
        "description": "Retrieve all invoices based on certain parameters. <h3>OAuth</h3>Required scopes: <code>invoices.readonly</code> or <code>invoices</code>",
        "operationId": "getInvoices",
        "parameters": [
          {
            "name": "companyRef",
            "in": "query",
            "description": "The id of the company",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "membershipRef",
            "in": "query",
            "description": "The id of the membership",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "locationRef",
            "in": "query",
            "description": "The id of the location.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "issueDate",
            "description": "The date filter of items.",
            "schema": {
              "type": "object",
              "properties": {
                "lte": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get invoices with less issueDate. Example: issueDate[lte]=2021-05-21T10:00:00Z"
                },
                "gte": {
                  "format": "date-time",
                  "type": "string",
                  "description": "Get invoices with greater issueDate. Example: issueDate[gte]=2021-05-21T10:00:00Z"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "nextPageToken",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The token to get the next page of results"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "The number of items to return"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of an invoice.",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "issued",
                "voided",
                "paid"
              ]
            }
          },
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "security": [
          {
            "BasicAuth": []
          },
          {
            "OAuth2": [
              "invoices.readonly",
              "invoices"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/invoice"
                      }
                    },
                    "nextPageToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create an invoice",
        "description": "Create an invoice for a member or a company.",
        "operationId": "createInvoice",
        "parameters": [
          {
            "in": "header",
            "name": "spacebring-network-id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false,
            "description": "The id of the network. Required when using bearer token authentication"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createInvoice"
        },
        "security": [
          {
            "OAuth2": [
              "invoices"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/invoice"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseError"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/v1/{id}": {
[...]
